.button {
  border: none;
  border-radius: 8px;
  padding: var(--space-sm) var(--space-lg);
  cursor: pointer;
  font-weight: 600;
}

.primary {
  background-color: transparent;
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  transition: all 0.4s ease-in;
  border-radius: 2px;
  display: flex;
  align-items: center;
  transition: all 0.6s ease-in;
}

.primary:hover {
  transform: scale(1.1);
  background-color: var(--text-primary);
  color: var(--text-light);
}
