@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Literata:wght@400;500;600&family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  /*====== COLORS =======*/
  --color-primary: #c5a059; /* BASE */
  --color-secondary: #8b5e34; /* SUPPORT */
  --color-tertiary: #1a1a1a; /* CTA */
  --color-border: #313b4a;
  --color-text: #474747; /* TEXT */
  --color-light: #d4e4f6; /* DETAILS */

  /*===text====*/
  --fs-h1: clamp(2rem, 5vw, 3.2rem);
  --fs-h2: clamp(1.4rem, 3vw, 2rem);
  --fs-h3: clamp(1.1rem, 2vw, 1.4rem);

  --fs-body: clamp(0.95rem, 1vw + 0.25rem, 1.15rem);

  /*======Font-family=====*/
  --font-heading: "EB Garamond", serif;
  --font-body: "Literata", serif;
  --font-ui: "Work Sans", sans-serif;

  /*===== Espaçamentos==== */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
}

/*
Uso	                  Unidade	    Valores seguros
Hero height	          vh	            50–70vh
Section padding	      vh	            6–12vh
Card  width	          vw	            20–30vw
Card  height	        vw	            18–25vw
Ícones                vw	            10–15vw
Texto	                vw	            2–5vw (com clamp)*/

/* ==== CSS RESET / BASE ==== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  background-color: #f9f6f0;
  text-rendering: optimizeLegibility;
}

/*usei neste caso para ter 100% de altura de ecra*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Improve text wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*========fonts-family==========*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

button,
input,
textarea,
select,
label {
  font-family: var(--font-ui);
}

/*=====Font-size========*/
h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-body);
}
